body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #1b2838;
    /* Tmavé pozadie ako Steam */
    color: #ffffff;
    /* Biela farba textu */
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.button {
    padding: 20px 40px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #171a21;
    /* Tmavší odtieň modrej z Steam UI */
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border: 2px solid #66c0f4;
    /* Svetlomodrý obrys typický pre Steam */
}

.button:hover {
    background-color: #66c0f4;
    /* Svetlomodrá ako hover efekt */
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7);
    color: #000000;
    /* Čierny text pri hoveri pre lepší kontrast */
}